<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gest.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @gest.body %>
</p>

<%= link_to 'Edit', edit_gest_path(@gest) %> |
<%= link_to 'Back', gests_path %>
